#nav-trigger {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
    width: 100%;
    height: 100%;
}

#station-nav-container {
    width: 0;
    transition: 0.5s;
}

#station-nav {
    margin-top: 5rem;
    display: none;
}

.cabin {
    font-family: "Cabin", sans-serif;
}

.train::before {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
}

.train-inactive {
    opacity: 0.3;
}

/* SVG assets*/

.train-light-b::before {
    content: url('assets/img/train-light-b.svg');
}

.train-light::before {
    content: url('assets/img/train-light.svg');
}

.train-light-e::before {
    content: url('assets/img/train-light-e.svg');
}

.train-active.train-light::before {
    content: url('assets/img/train-active-light.svg')
}
