/* Slideout menu */

body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow-y: auto;
  min-height: 100vh;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/* Fonts */

.cabin {
    font-family: "Cabin", sans-serif;
}

.train::before {
    height: 2rem;
    width: 2rem;
    margin-right: 0.25rem;
}

.train-inactive {
    opacity: 0.3;
}

/* SVG assets*/

.train-light-b::before {
    content: url('assets/img/train-light-b.svg');
}

.train-light::before {
    content: url('assets/img/train-light.svg');
}

.train-light-e::before {
    content: url('assets/img/train-light-e.svg');
}

.train-active.train-light::before {
    content: url('assets/img/train-active-light.svg')
}

.h-menu {
    height: 2.5rem;
}
